@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    font-family: 'Noto Sans', sans-serif;
    color: rgb(0, 0, 0);
}

header{
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 55px;
    color: rgb(45, 45, 45);
}

a{
    text-decoration: none;
    color: grey;
}

b{
    color: black;
}

img{
    width: 230px;
    margin-left: 15%;
}

button{
    width: 25%;
    height: 8%;
    border: none;
    background-color: rgb(40, 103, 165);
    border-radius: 5px;
    margin-top: 10%;
    overflow-x: hidden;
}

button:hover{
    cursor: pointer;
}

.button{
    width: 118%;
    height: 90%;
    border: none;
    background-color: rgb(40, 103, 165);
    border-radius: 5px;
    margin-top: -5%;
    color: aliceblue;
    overflow-x: hidden;
}

.button:hover{
    cursor: pointer;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin-left: -0.5%;
    margin-top: -0.5%;
    margin-right: -0.6%;
    color: black;
    box-shadow: rgb(59, 59, 59) 0px 0px 10px;
}

.gdsc-img{
    width: 45%;
    margin: 1%;
}

.listado{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 12%);
    margin-top: 2.5%;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 45%);
}

.img-community{
    margin-left: 1%;
    width: 124%;
    height: 110%;
}

.Gdsc{
    padding: 2%;
    margin-top: 5%;
}

.descripcion{
    margin-top: 8%;
    color: rgb(20, 20, 20);
    font-size: 14px;
}

.Agenda{
    padding: 1%;
    margin-top: 5%;
}

.agenda-item{
    display: grid;
    grid-template-columns: repeat(3, 40%);
}

.agenda-dia3{
    margin-left: -25%;
}

.speakers{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin-top: 8%;
}

.speakers-description{
    margin-left: -20%;
}

.speakers-description p{
    margin-top: -5%;
    font-family:'Roboto', sans-serif;
    font-size: 14px;
}

.img-speakers{
    width: 90px;
    height: 90px;
    border-radius: 140px;
}

.speakers-imgs{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: -9%;
    padding: 2%;
}

.speakers-text{
    margin-top: 5%;
    text-align: center;
}

.speaker-des{
    margin-top: 22%;
}

.organizadores-imgs{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: -9%;
    padding: 2%;
}


.footer{
 margin-top: -5%;
}

.logo__footer{
        width: 60%;
}

.social-list__inline{
    display: grid;
    grid-template-columns: repeat(3, 10%);
    margin-top: 2%;
}

li{
    list-style: none; 
}

.container img{
    width: 70px;
}

.social-list__inline img{
    width: 7px;
}